{
    "schemes": [
        "http",
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "The responses of the open api in swagger focus on the data field rather than the code and the message fields",
        "title": "Rainbow-APP-Service",
        "contact": {},
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "console.nftrainbow.cn",
    "basePath": "/apps",
    "paths": {
        "/bot/invite_url": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "get invite url",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Bot"
                ],
                "summary": "get invite url",
                "operationId": "GetInviteUrl",
                "parameters": [
                    {
                        "enum": [
                            "dodo",
                            "discord"
                        ],
                        "type": "string",
                        "description": "social tool",
                        "name": "social_tool",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/bot/server": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "get bot servers",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Bot"
                ],
                "summary": "get bot servers",
                "operationId": "GetBotServers",
                "parameters": [
                    {
                        "type": "integer",
                        "default": 10,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 1,
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "dodo",
                            "discord"
                        ],
                        "type": "string",
                        "description": "social tool",
                        "name": "social_tool",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.FindBotServersResult"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "insert bot server",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Bot"
                ],
                "summary": "insert bot server",
                "operationId": "InsertBotServer",
                "parameters": [
                    {
                        "description": "insert_bot_server_request",
                        "name": "insert_bot_server_request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/services.InsertBotServerReq"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.BotServer"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/bot/server/activities": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "get activites of user bot servers",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Bot"
                ],
                "summary": "get activites of user bot servers",
                "operationId": "GetActivitiesOfUserBotServers",
                "parameters": [
                    {
                        "type": "integer",
                        "default": 10,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 1,
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "dodo",
                            "discord"
                        ],
                        "type": "string",
                        "description": "social tool",
                        "name": "social_tool",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "activity name",
                        "name": "activity_name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "contract address",
                        "name": "contract_address",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.FindBotServerActivitiesResult"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/bot/server/authcode": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "get bot server roles",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Bot"
                ],
                "summary": "get bot server roles",
                "operationId": "GetAuthCode",
                "parameters": [
                    {
                        "type": "string",
                        "name": "server_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "enum": [
                            "dodo",
                            "discord"
                        ],
                        "type": "string",
                        "description": "social tool",
                        "name": "social_tool",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ginutils.CommonMessage"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/bot/server/channels": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "get bot server channels",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Bot"
                ],
                "summary": "get bot server channels",
                "operationId": "GetBotServerChannels",
                "parameters": [
                    {
                        "type": "string",
                        "description": "server id",
                        "name": "server_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "enum": [
                            "dodo",
                            "discord"
                        ],
                        "type": "string",
                        "description": "social tool",
                        "name": "social_tool",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/services.Channel"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/bot/server/push/{id}": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "push notification to social tool server",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Bot"
                ],
                "summary": "push notification to social tool server",
                "operationId": "Push",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "push_info ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ginutils.CommonMessage"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/bot/server/pushinfo/{id}": {
            "put": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "update push info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Bot"
                ],
                "summary": "update push info",
                "operationId": "UpdatePushInfo",
                "parameters": [
                    {
                        "description": "update push info request",
                        "name": "push_info_req",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/services.PushInfoReq"
                        }
                    },
                    {
                        "type": "integer",
                        "description": "push_info ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.PushInfo"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/bot/server/roles": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "get bot server roles",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Bot"
                ],
                "summary": "get bot server roles",
                "operationId": "GetBotServerRoles",
                "parameters": [
                    {
                        "type": "string",
                        "description": "server id",
                        "name": "server_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "enum": [
                            "dodo",
                            "discord"
                        ],
                        "type": "string",
                        "description": "social tool",
                        "name": "social_tool",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/services.Role"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/bot/server/{id}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "get bot server",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Bot"
                ],
                "summary": "get bot server",
                "operationId": "GetBotServer",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "server id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.BotServer"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/bot/server/{id}/pushinfo": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "add push info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Bot"
                ],
                "summary": "add push info",
                "operationId": "AddPushInfo",
                "parameters": [
                    {
                        "description": "add push info request",
                        "name": "push_info_req",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/services.PushInfoReq"
                        }
                    },
                    {
                        "type": "integer",
                        "description": "bot_server ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.PushInfo"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/poap/activity": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get User Activity list",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "POAP"
                ],
                "summary": "Get User Activity list",
                "operationId": "GetUserActivities",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "page",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "limit",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "activity_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "contract_address",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 10,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "name",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 1,
                        "name": "page",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.ActivityQueryResult"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Add Activity",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "POAP"
                ],
                "summary": "Add Activity",
                "operationId": "AddActivity",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "activity config",
                        "name": "activity_request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.ActivityReq"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Activity"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/poap/activity/h5": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Set H5 Page Config",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "POAP"
                ],
                "summary": "Set H5 Config",
                "operationId": "SetActivityH5Config",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "poap_h5_config",
                        "name": "poap_h5_config",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.H5Config"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.H5Config"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/poap/activity/result/{activity_code}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get Mint Result list",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "POAP"
                ],
                "summary": "Get Mint Result list",
                "operationId": "GetMintResultList",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "page",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "limit",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "address",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "activity_code",
                        "name": "activity_code",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.POAPResultQueryResult"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/poap/activity/result/{activity_code}/{id}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get Mint Result",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "POAP"
                ],
                "summary": "Get Mint Result",
                "operationId": "GetMintResult",
                "parameters": [
                    {
                        "type": "string",
                        "description": "activity_code",
                        "name": "activity_code",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.POAPResult"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/poap/activity/token-reserve": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Add reserve tokenids for activity, they will be skiped when mint by h5",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "POAP"
                ],
                "summary": "Add reserve tokenids for activity",
                "operationId": "AddTokenReserves",
                "parameters": [
                    {
                        "description": "token reserves",
                        "name": "token_reserves",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.TokenReserve"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ginutils.CommonMessage"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/poap/activity/token-reserve/{activity_code}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get reserve tokenids of activity",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "POAP"
                ],
                "summary": "Get reserve tokenids of activity",
                "operationId": "GetTokenReserves",
                "parameters": [
                    {
                        "type": "string",
                        "description": "activity code",
                        "name": "activity_code",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.TokenReserve"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/poap/activity/{activity_code}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get Activity detail info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "POAP"
                ],
                "summary": "Get Activity detail",
                "operationId": "GetActivityDetail",
                "parameters": [
                    {
                        "type": "string",
                        "description": "activity_code",
                        "name": "activity_code",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Activity"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Update Activity",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "POAP"
                ],
                "summary": "Update Activity",
                "operationId": "UpdateActivity",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "activity_id",
                        "name": "activity_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "update activity request",
                        "name": "update_activity_request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.UpdateActivityReq"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Activity"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/poap/count/{address}/{activity_code}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get Mint Count",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "POAP"
                ],
                "summary": "Get Mint Count",
                "operationId": "GetMintCount",
                "parameters": [
                    {
                        "type": "string",
                        "description": "activity_code",
                        "name": "activity_code",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/poap/h5": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Mint By H5",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "POAP"
                ],
                "summary": "Mint By H5",
                "operationId": "MintByH5",
                "parameters": [
                    {
                        "description": "mint request",
                        "name": "mint_req",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/services.MintReq"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.POAPResult"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/poap/wallet/user": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Add user wallet profile, so backend can get user phone from anyweb",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "POAP"
                ],
                "summary": "Add user wallet profile, so backend can get user phone from anyweb",
                "operationId": "AddWalletUser",
                "parameters": [
                    {
                        "description": "add wallet user request",
                        "name": "add_wallet_user_request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/services.AddWalletUserReq"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ginutils.CommonMessage"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/appService_errors.RainbowAppServiceErrorDetailInfo"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "appService_errors.RainbowAppServiceErrorDetailInfo": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer"
                },
                "message": {
                    "type": "string"
                }
            }
        },
        "enums.ActivityType": {
            "type": "integer",
            "enum": [
                1,
                2
            ],
            "x-enum-varnames": [
                "ACTIVITY_BLINDBOX",
                "ACTIVITY_SINGLE"
            ]
        },
        "enums.SocialToolType": {
            "type": "integer",
            "enum": [
                1,
                2
            ],
            "x-enum-varnames": [
                "SOCIAL_TOOL_DISCORD",
                "SOCIAL_TOOL_DODO"
            ]
        },
        "enums.WalletType": {
            "type": "integer",
            "enum": [
                1,
                2
            ],
            "x-enum-varnames": [
                "WALLET_ANYWEB",
                "WALLET_CELLAR"
            ]
        },
        "ginutils.CommonMessage": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                }
            }
        },
        "gorm.DeletedAt": {
            "type": "object",
            "properties": {
                "time": {
                    "type": "string"
                },
                "valid": {
                    "description": "Valid is true if Time is not NULL",
                    "type": "boolean"
                }
            }
        },
        "models.Activity": {
            "type": "object",
            "required": [
                "activity_type",
                "amount",
                "app_id",
                "description",
                "max_mint_count",
                "name"
            ],
            "properties": {
                "activity_id": {
                    "description": "TODO: 与前端统一调整为activity_code",
                    "type": "string"
                },
                "activity_picture_url": {
                    "type": "string"
                },
                "activity_poster_url": {
                    "type": "string"
                },
                "activity_type": {
                    "$ref": "#/definitions/enums.ActivityType"
                },
                "amount": {
                    "type": "integer"
                },
                "app_id": {
                    "type": "integer"
                },
                "app_name": {
                    "type": "string"
                },
                "command": {
                    "type": "string"
                },
                "contract": {
                    "$ref": "#/definitions/models.Contract"
                },
                "contract_id": {
                    "type": "integer"
                },
                "created_at": {
                    "type": "string"
                },
                "deleted_at": {
                    "$ref": "#/definitions/gorm.DeletedAt"
                },
                "description": {
                    "type": "string"
                },
                "end_time": {
                    "type": "integer",
                    "default": -1
                },
                "id": {
                    "type": "integer"
                },
                "is_phone_white_list_opened": {
                    "type": "boolean"
                },
                "is_token_id_ordered": {
                    "type": "boolean",
                    "default": true
                },
                "max_mint_count": {
                    "type": "integer"
                },
                "metadata_uri": {
                    "description": "与contract base_uri 的区别：base_uri需拼接tokenid后缀；",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "nft_configs": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.NFTConfig"
                    }
                },
                "rainbow_user_id": {
                    "type": "integer"
                },
                "start_time": {
                    "type": "integer",
                    "default": -1
                },
                "updated_at": {
                    "type": "string"
                },
                "white_list_infos": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.WhiteListInfo"
                    }
                }
            }
        },
        "models.ActivityQueryResult": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer"
                },
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.Activity"
                    }
                }
            }
        },
        "models.ActivityReq": {
            "type": "object",
            "required": [
                "activity_type",
                "amount",
                "app_id",
                "description",
                "max_mint_count",
                "name"
            ],
            "properties": {
                "activity_picture_url": {
                    "type": "string"
                },
                "activity_type": {
                    "$ref": "#/definitions/enums.ActivityType"
                },
                "amount": {
                    "type": "integer"
                },
                "app_id": {
                    "type": "integer"
                },
                "app_name": {
                    "type": "string"
                },
                "command": {
                    "type": "string"
                },
                "contract_id": {
                    "type": "integer"
                },
                "description": {
                    "type": "string"
                },
                "end_time": {
                    "type": "integer",
                    "default": -1
                },
                "is_phone_white_list_opened": {
                    "type": "boolean"
                },
                "is_token_id_ordered": {
                    "type": "boolean",
                    "default": true
                },
                "max_mint_count": {
                    "type": "integer"
                },
                "metadata_uri": {
                    "description": "与contract base_uri 的区别：base_uri需拼接tokenid后缀；",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "nft_configs": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.NFTConfig"
                    }
                },
                "start_time": {
                    "type": "integer",
                    "default": -1
                },
                "white_list_infos": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.WhiteListInfo"
                    }
                }
            }
        },
        "models.BotServer": {
            "type": "object",
            "required": [
                "owner_social_id",
                "rainbow_user_id",
                "raw_server_id"
            ],
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "deleted_at": {
                    "$ref": "#/definitions/gorm.DeletedAt"
                },
                "id": {
                    "type": "integer"
                },
                "owner_social_id": {
                    "type": "string"
                },
                "push_infos": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.PushInfo"
                    }
                },
                "rainbow_user_id": {
                    "type": "integer"
                },
                "raw_server_id": {
                    "type": "string"
                },
                "server_name": {
                    "type": "string"
                },
                "social_tool": {
                    "$ref": "#/definitions/enums.SocialToolType"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
        "models.Contract": {
            "type": "object",
            "properties": {
                "chain_id": {
                    "type": "integer"
                },
                "chain_type": {
                    "type": "integer"
                },
                "contract_address": {
                    "type": "string"
                },
                "contract_raw_id": {
                    "description": "POAPActivityConfigID uint   `gorm:\"column:poap_activity_config_id\" json:\"poap_activity_config_id\"`",
                    "type": "integer"
                },
                "contract_type": {
                    "type": "integer"
                },
                "created_at": {
                    "type": "string"
                },
                "deleted_at": {
                    "$ref": "#/definitions/gorm.DeletedAt"
                },
                "id": {
                    "type": "integer"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
        "models.FindBotServerActivitiesResult": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer"
                },
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.FlattenBotServerActivity"
                    }
                }
            }
        },
        "models.FindBotServersResult": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer"
                },
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.BotServer"
                    }
                }
            }
        },
        "models.FlattenBotServerActivity": {
            "type": "object",
            "required": [
                "name"
            ],
            "properties": {
                "activity_id": {
                    "type": "string"
                },
                "activity_type": {
                    "$ref": "#/definitions/enums.ActivityType"
                },
                "chain_id": {
                    "type": "integer"
                },
                "chain_type": {
                    "type": "integer"
                },
                "channel_id": {
                    "type": "string"
                },
                "contract_address": {
                    "type": "string"
                },
                "contract_id": {
                    "type": "integer"
                },
                "end_time": {
                    "type": "integer",
                    "default": -1
                },
                "last_push_time": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "owner_social_id": {
                    "type": "string"
                },
                "push_info_id": {
                    "type": "integer"
                },
                "rainbow_user_id": {
                    "type": "integer"
                },
                "raw_server_id": {
                    "type": "string"
                },
                "server_name": {
                    "type": "string"
                },
                "social_tool": {
                    "$ref": "#/definitions/enums.SocialToolType"
                },
                "start_time": {
                    "type": "integer",
                    "default": -1
                }
            }
        },
        "models.H5Config": {
            "type": "object",
            "required": [
                "link"
            ],
            "properties": {
                "activity_id": {
                    "type": "string"
                },
                "button_word_color": {
                    "type": "integer"
                },
                "claim_button_color": {
                    "type": "string"
                },
                "content": {
                    "type": "string"
                },
                "content_color": {
                    "type": "integer"
                },
                "content_size": {
                    "type": "integer"
                },
                "created_at": {
                    "type": "string"
                },
                "deleted_at": {
                    "$ref": "#/definitions/gorm.DeletedAt"
                },
                "id": {
                    "type": "integer"
                },
                "link": {
                    "type": "string"
                },
                "logo_url": {
                    "type": "string"
                },
                "mobile_picture_url": {
                    "type": "string"
                },
                "pc_picture_url": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "title_color": {
                    "type": "integer"
                },
                "title_size": {
                    "type": "integer"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
        "models.MetadataAttribute": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "deleted_at": {
                    "$ref": "#/definitions/gorm.DeletedAt"
                },
                "display_type": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "nftconfigID": {
                    "type": "integer"
                },
                "trait_type": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            }
        },
        "models.NFTConfig": {
            "type": "object",
            "properties": {
                "activityID": {
                    "type": "integer"
                },
                "created_at": {
                    "type": "string"
                },
                "deleted_at": {
                    "$ref": "#/definitions/gorm.DeletedAt"
                },
                "id": {
                    "type": "integer"
                },
                "image_url": {
                    "type": "string"
                },
                "metadata_attributes": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.MetadataAttribute"
                    }
                },
                "name": {
                    "type": "string"
                },
                "probability": {
                    "type": "number"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
        "models.POAPResult": {
            "type": "object",
            "required": [
                "address",
                "contract_id"
            ],
            "properties": {
                "activity_id": {
                    "description": "TODO:  与前端一起更新为activity_code",
                    "type": "string"
                },
                "address": {
                    "type": "string"
                },
                "app_id": {
                    "type": "integer"
                },
                "config_id": {
                    "type": "integer"
                },
                "contract_id": {
                    "type": "integer"
                },
                "created_at": {
                    "type": "string"
                },
                "deleted_at": {
                    "$ref": "#/definitions/gorm.DeletedAt"
                },
                "file_url": {
                    "type": "string"
                },
                "hash": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "projector_id": {
                    "type": "integer"
                },
                "social_id": {
                    "type": "string"
                },
                "social_type": {
                    "type": "integer"
                },
                "status": {
                    "type": "integer"
                },
                "token_id": {
                    "type": "string"
                },
                "tx_id": {
                    "type": "integer"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
        "models.POAPResultQueryResult": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer"
                },
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.POAPResult"
                    }
                }
            }
        },
        "models.PushInfo": {
            "type": "object",
            "properties": {
                "activity": {
                    "$ref": "#/definitions/models.Activity"
                },
                "activity_id": {
                    "type": "integer"
                },
                "bot_server_id": {
                    "type": "integer"
                },
                "channel_id": {
                    "type": "string"
                },
                "color_theme": {
                    "type": "string"
                },
                "content": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "deleted_at": {
                    "$ref": "#/definitions/gorm.DeletedAt"
                },
                "id": {
                    "type": "integer"
                },
                "last_push_time": {
                    "type": "integer"
                },
                "roles": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
        "models.TokenReserve": {
            "type": "object",
            "required": [
                "activity_id",
                "token_id_end",
                "token_id_start"
            ],
            "properties": {
                "activity_id": {
                    "type": "integer"
                },
                "created_at": {
                    "type": "string"
                },
                "deleted_at": {
                    "$ref": "#/definitions/gorm.DeletedAt"
                },
                "id": {
                    "type": "integer"
                },
                "token_id_end": {
                    "type": "integer"
                },
                "token_id_start": {
                    "type": "integer"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
        "models.UpdateActivityReq": {
            "type": "object",
            "required": [
                "amount",
                "description",
                "max_mint_count",
                "name"
            ],
            "properties": {
                "activity_picture_url": {
                    "type": "string"
                },
                "amount": {
                    "type": "integer"
                },
                "command": {
                    "type": "string"
                },
                "contract_id": {
                    "type": "integer"
                },
                "description": {
                    "type": "string"
                },
                "end_time": {
                    "type": "integer",
                    "default": -1
                },
                "is_phone_white_list_opened": {
                    "type": "boolean"
                },
                "max_mint_count": {
                    "type": "integer"
                },
                "metadata_uri": {
                    "description": "与contract base_uri 的区别：base_uri需拼接tokenid后缀；",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "nft_configs": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.NFTConfig"
                    }
                },
                "start_time": {
                    "type": "integer",
                    "default": -1
                },
                "white_list_infos": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.WhiteListInfo"
                    }
                }
            }
        },
        "models.WhiteListInfo": {
            "type": "object",
            "properties": {
                "activityID": {
                    "type": "integer"
                },
                "count": {
                    "type": "integer"
                },
                "created_at": {
                    "type": "string"
                },
                "deleted_at": {
                    "$ref": "#/definitions/gorm.DeletedAt"
                },
                "id": {
                    "type": "integer"
                },
                "updated_at": {
                    "type": "string"
                },
                "user": {
                    "type": "string"
                }
            }
        },
        "services.AddWalletUserReq": {
            "type": "object",
            "properties": {
                "address": {
                    "type": "string"
                },
                "code": {
                    "type": "string"
                },
                "phone": {
                    "type": "string"
                },
                "wallet": {
                    "$ref": "#/definitions/enums.WalletType"
                }
            }
        },
        "services.Channel": {
            "type": "object",
            "properties": {
                "channelId": {
                    "description": "频道号",
                    "type": "string"
                },
                "channelName": {
                    "description": "频道名称",
                    "type": "string"
                }
            }
        },
        "services.InsertBotServerReq": {
            "type": "object",
            "required": [
                "auth_code",
                "server_id",
                "social_tool"
            ],
            "properties": {
                "auth_code": {
                    "type": "string"
                },
                "server_id": {
                    "type": "string"
                },
                "social_tool": {
                    "type": "string",
                    "enum": [
                        "dodo",
                        "discord"
                    ]
                }
            }
        },
        "services.MintReq": {
            "type": "object",
            "required": [
                "activity_id",
                "user_address"
            ],
            "properties": {
                "activity_id": {
                    "type": "string"
                },
                "command": {
                    "type": "string"
                },
                "user_address": {
                    "type": "string"
                }
            }
        },
        "services.PushInfoReq": {
            "type": "object",
            "properties": {
                "activity_id": {
                    "type": "integer"
                },
                "channel_id": {
                    "type": "string"
                },
                "color_theme": {
                    "type": "string"
                },
                "content": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "roles": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "services.Role": {
            "type": "object",
            "properties": {
                "roleId": {
                    "description": "身份组ID",
                    "type": "string"
                },
                "roleName": {
                    "description": "身份组名称",
                    "type": "string"
                }
            }
        }
    }
}